{
	"useTabs": true,
	"singleQuote": true,
	"tabWidth": 4,
    "semi": false,
	"trailingComma": "es5",
	"svelteIndentScriptAndStyle": false,
	"svelteBracketNewLine": true,
	"svelteAllowShorthand": true,
	"printWidth": 120,
	"plugins": ["prettier-plugin-svelte"],
	"pluginSearchDirs": ["."],
	"overrides": [{ "files": "*.svelte", "options": { "parser": "svelte" } }]
}
