@import '../styles/pre.scss';


* {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.codicon[class*='codicon-'] {
    transition: background-color 0.1s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
}


.dark .markdown-body {
    p {
        color: color($text-secondary);
    }

    ul, ol {
        color: color($text-secondary);
    }

    b, strong {
        color: color($text-primary);
    }
}

div.wrapped-code-container {
    border-radius: .5rem;
    overflow: hidden;
    margin-bottom: 1rem;

    .lang-banner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: color($black, .10);
        padding: .5rem 1rem;
        font-size: .75rem;
        line-height: 1rem;
    }

    pre {
        border-radius: 0;
        margin: 0;
    }
}
