:root {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;

    font-family:
        -apple-system,
        BlinkMacSystemFont,
        Roboto,
        ui-sans-serif,
        system-ui,
        Segoe UI,
        Ubuntu,
        Cantarell,
        Noto Sans,
        sans-serif,
        Helvetica Neue,
        Arial,
        Apple Color Emoji,
        Segoe UI Emoji,
        /* Segoe UI Symbol, */
        Noto Color Emoji;


    // @media (prefers-color-scheme: light) {
    --color-fg-default: #24292f;
    --color-fg-muted: #57606a;
    --color-fg-subtle: #6e7781;
    --color-canvas-default: #ffffff;
    --color-canvas-subtle: #f6f8fa;
    --color-border-default: #d0d7de;
    --color-border-muted: hsla(210, 18%, 87%, 1);
    --color-neutral-muted: rgba(175, 184, 193, 0.2);
    --color-accent-emphasis: #0969da;
    --color-attention-subtle: #fff8c5;
    --color-danger-fg: #cf222e;

    /* FG - Foreground shades */
    --color-fg-lightest: #a1a9b1;
    --color-fg-subtle: #6e7781;
    --color-fg-lighter: #313a45;
    --color-fg-muted: #57606a; 
    --color-fg-default: #24292f;
    --color-fg-darker: #1a1f23;
    --color-fg-darkest: #121517;

    /* Canvas - Background shades */
    --color-canvas-lightest: #fcfdfd;
    --color-canvas-lighter: #f9fafc;
    --color-canvas-darker: #f2f4f7;
    --color-canvas-subtle: #f6f8fa; 
    --color-canvas-default: #ffffff;
    --color-canvas-darkest: #edeff2;

    /* Border shades */
    --color-border-lightest: #e1e6eb;
    --color-border-lighter: #d7dde4;
    --color-border-muted: hsla(210, 18%, 87%, 1);
    --color-border-default: #d0d7de;
    --color-border-darker: #c7ced5;
    --color-border-darkest: #bec4ca;

    --color-accent-fg: hsl(207, 90%, 54%);
    --color-accent-fg-darker: hsl(207, 90%, 48%);
    --color-accent-fg-darkest: hsl(207, 90%, 42%);

    --trans-fast: .075s;
    --trans-med: .2s;

    --codicon-arrow-small-up: "\eaa0";
    --codicon-arrow-small-down: "\ea9d";

    font-size: 16px;
}

::-webkit-scrollbar {
    height: 1rem;
    width: .5rem;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(217,217,227,.8);
    border-color: rgba(255,255,255,1);
    border-radius: 9999px;
    border-width: 1px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 9999px;
}

.markdown-body.isolated-code-block pre.markdown-code-block {
    background-color: rgb(34, 39, 46);
    border-radius: 0;
}
.markdown-body.transparent-code-block {
    background: none;

    pre.markdown-code-block {
        background-color: transparent;
        padding: 0;
        line-height: 1.5rem;

        code.hljs {
            color: white;
        }

    }
}

/* ------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------ */


* {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    box-sizing: border-box;
}

body {
    color: var(--color-fg-default);
    background-color: var(--color-canvas-default);
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
}
div {
    display: block;
    box-sizing: border-box;
    outline: none;
}
button, textarea, input, select {
    font-size: unset;
}

button, input, optgroup, select, textarea {
    color: inherit;
    font-family: inherit;
    font-size: 100%;
    font-weight: inherit;
    line-height: inherit;
    margin: 0;
    padding: 0;
}

.codicon[class*='codicon-'] {
    transition: background-color 0.1s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
}


@keyframes rotate-circle {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.selectable-text {
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}
.selectable-text-below * {
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}
.selectable-text-deep,
.selectable-text-deep * {
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}
.no-select {
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
}
.no-select-below * {
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
}
.no-select-deep,
.no-select-deep * {
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
}
.no-pointer-events {
    pointer-events: none !important;
}
.no-pointer-events-below * {
    pointer-events: none !important;
}
.no-pointer-events-deep,
.no-pointer-events-deep * {
    pointer-events: none !important;
}

