@import './pre.scss';

* {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.codicon-svg {
    transition: background-color 0.1s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 1.1rem;
    height: 1.1rem;
}

.codicon-svg.loading {
    animation: rotate-circle 1s cubic-bezier(0.53, 0.21, 0.29, 0.67) infinite;
}

.dark .markdown-body {
    p {
        color: color($text-secondary);
    }

    ul, ol {
        color: color($text-secondary);
    }

    b, strong {
        color: color($text-primary);
    }
}

div.wrapped-code-container {
    border-radius: .5rem;
    overflow: hidden;
    margin-bottom: 1rem;

    .lang-banner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: color($black, .10);
        padding: .5rem 1rem;
        font-size: .75rem;
        line-height: 1rem;
    }

    pre {
        border-radius: 0;
        margin: 0;
    }
}


