$white: var(---white);
$black: var(---black);
$gray-50: var(---gray-50);
$gray-100: var(---gray-100);
$gray-200: var(---gray-200);
$gray-250: var(---gray-250);
$gray-300: var(---gray-300);
$gray-400: var(---gray-400);
$gray-500: var(---gray-500);
$gray-600: var(---gray-600);
$gray-650: var(---gray-650);
$gray-700: var(---gray-700);
$gray-750: var(---gray-750);
$gray-800: var(---gray-800);
$gray-900: var(---gray-900);
$gray-950: var(---gray-950);

$accent: var(---accent);
$accent-darker: var(---accent-darker);
$accent-darkest: var(---accent-darkest);

$red: var(---red);

$text-primary: var(---text-primary);
$text-secondary: var(---text-secondary);
$text-tertiary: var(---text-tertiary);
$surface-primary: var(---surface-primary);
$surface-secondary: var(---surface-secondary);
$surface-tertiary: var(---surface-tertiary);
$border: var(---border);

$bw: var(---bw);
$bw-inverse: var(---bw-inverse);

@function color($color, $alpha: -1) {
    @if $alpha == -1 {
        @return hsl($color);
    } @else {
        @return hsla($color, $alpha);
    }
}

@mixin dflex($flex-direction-flow: '', $justify-content: '', $align-items: '', $gap: '', $align-content: '') {
    display: flex;
    @if $flex-direction-flow != '' {
        @if str-index($flex-direction-flow, ' ') {
            flex-flow: $flex-direction-flow;
        } @else {
            flex-direction: $flex-direction-flow;
        }
    }
    @if $justify-content != '' {
        justify-content: $justify-content;
    }
    @if $align-items != '' {
        align-items: $align-items;
    }
    @if $gap != '' {
        gap: $gap;
    }
    @if $align-content != '' {
        align-content: $align-content;
    }
}

@mixin absolute($top: '', $right: '', $bottom: '', $left: '') {
    position: absolute;
    @if $top != '' {
        top: $top;
    }
    @if $right != '' {
        right: $right;
    }
    @if $bottom != '' {
        bottom: $bottom;
    }
    @if $left != '' {
        left: $left;
    }
}

@mixin sticky($z-index: '', $top: '', $right: '', $bottom: '', $left: '') {
    position: sticky;
    @if $z-index != '' {
        z-index: $z-index;
    }
    @if $top != '' {
        top: $top;
    }
    @if $right != '' {
        right: $right;
    }
    @if $bottom != '' {
        bottom: $bottom;
    }
    @if $left != '' {
        left: $left;
    }
}

@mixin square($size) {
    width: $size;
    height: $size;
}

$n1: 0.125rem;
$n2: 0.25rem;
$n3: 0.375rem;
$n4: 0.5rem;
$n5: 0.625rem;
$n6: 0.75rem;
$n7: 0.875rem;
$n8: 1rem;
$n9: 1.125rem;
$n10: 1.25rem;
$n11: 1.375rem;
$n12: 1.5rem;
$n13: 1.625rem;
$n14: 1.75rem;
$n15: 1.875rem;
$n16: 2rem;
$n17: 2.125rem;
$n18: 2.25rem;
$n19: 2.375rem;
$n20: 2.5rem;
$n21: 2.625rem;
$n22: 2.75rem;
$n23: 2.875rem;
$n24: 3rem;
$n25: 3.125rem;
$n26: 3.25rem;
$n27: 3.375rem;
$n28: 3.5rem;
$n29: 3.625rem;
$n30: 3.75rem;
$n31: 3.875rem;
$n32: 4rem;
$n33: 4.125rem;
$n34: 4.25rem;
$n35: 4.375rem;
$n36: 4.5rem;
$n37: 4.625rem;
$n38: 4.75rem;
$n39: 4.875rem;
$n40: 5rem;
$n41: 5.125rem;
$n42: 5.25rem;
$n43: 5.375rem;
$n44: 5.5rem;
$n45: 5.625rem;
$n46: 5.75rem;
$n47: 5.875rem;
$n48: 6rem;
$n49: 6.125rem;
$n50: 6.25rem;
$n51: 6.375rem;
$n52: 6.5rem;
$n53: 6.625rem;
$n54: 6.75rem;
$n55: 6.875rem;
$n56: 7rem;
$n57: 7.125rem;
$n58: 7.25rem;
$n59: 7.375rem;
$n60: 7.5rem;
$n61: 7.625rem;
$n62: 7.75rem;
$n63: 7.875rem;
$n64: 8rem;
