@import '../styles/pre.scss';

.selectable-text {
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}
.selectable-text-below * {
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}
.selectable-text-deep,
.selectable-text-deep * {
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}
.no-select {
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
}
.no-select-below * {
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
}
.no-select-deep,
.no-select-deep * {
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
}
.no-pointer-events {
    pointer-events: none !important;
}
.no-pointer-events-below * {
    pointer-events: none !important;
}
.no-pointer-events-deep,
.no-pointer-events-deep * {
    pointer-events: none !important;
}

@keyframes rotate-circle {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


.set-visibility-on-hover {
    --visibility: hidden;

    &:hover {
        --visibility: visible;
    }
}


// TAILWIND

.full {
    width: 100%;
    height: 100%;
}
.w-full {
    width: 100%;
}
.h-full {
    height: 100%;
}
.relative {
    position: relative;
}
.sticky {
    position: sticky;
}
.rounded {
    border-radius: 9999px;
}
.m-auto {
    margin: auto;
}
.mx-auto {
    margin-left: auto;
    margin-right: auto;
}
.overflow-hidden {
    overflow: hidden;
}
.scroll-y {
    overflow-y: scroll;
}
.text-xl {
    font-size: 1.25rem;
    line-height: 1.75rem;
}
.text-sm {
    font-size: .875rem;
    line-height: 1.25rem;
}
.text-xs {
    font-size: .75rem;
    line-height: 1rem;
}

// FLEXBOX
.flex {
    display: flex;
}
.flex-col {
    display: flex;
    flex-direction: column;
}
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.inline-flex {
    display: inline-flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.justify-between {
    justify-content: space-between;
}
.justify-center {
    justify-content: center;
}

.items-center {
    align-items: center;
}
.items-start {
    align-items: flex-start;
}

// BUTTONS

.btn {
    display: inline-flex;
    align-items: center;
    border: 1px solid transparent;
    border-radius: .5rem;
    font-size: .875rem;
    font-weight: 500;
    line-height: 1.25rem;
    padding: .5rem .75rem;
    pointer-events: auto;

    &:active {
        opacity: .8;
    }
}
.btn-primary {
    background-color: color($accent-darker);
    color: white;

    &:hover {
        background-color: color($accent-darkest);
    }
}
.btn-neutral {
    background-color: color($surface-primary);
    color: color($text-secondary);
    border-color: color($border, .2);

    &:hover {
        background-color: color($surface-secondary);
    }
}

.icon-md {
    stroke-width: 1.5;
    height: 1.125rem;
    width: 1.125rem;
}
.icon-sm {
    stroke-width: 2;
    height: 1rem;
    width: 1rem;
}


// FLEX GAP
.gap\.125 {
    gap: .125rem;
}
.gap\.25 {
    gap: .25rem;
}
.gap\.375 {
    gap: .375rem;
}
.gap\.5 {
    gap: .5rem;
}
.gap\.625 {
    gap: .625rem;
}
.gap\.75 {
    gap: .75rem;
}
.gap\.875 {
    gap: .875rem;
}
.gap-1 {
    gap: 1rem;
}
